/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}

p{
    line-height: 30px;
}

a {
    text-decoration: none;
    color:currentColor ;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-2 {
    flex-basis: calc((100% / 12) * 2);    
    
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);    
    
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);    
    
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    padding: 20px;
    
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.jusitfy-center{
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* component classes */

.button {
    text-decoration: none;
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */

.page-header {
    background-color: var(--blue);
    color: var(--light);
}

.navbar-list {
    
    display: flex;
    gap: 22px;
    align-items: center;
}

#hamburger{
    display: none;
}

/* debug */

.debug .row {
    padding: 10px;
}

/*hero sezione*/

.button-blue{
    color: var(--light);
    line-height: 40px;
    text-align: center;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 0 70px;
}

.first-coll{
    min-height:calc((100% - 20px)) ;
}

.border{
    margin: 10px;
    border-radius: 20px;
    background-color: var(--light-blue);
    display: flex;
    flex-wrap: nowrap;
}

.paragraph > *{
    margin: 10px 0;
}

.paragraph h3{
    color: var(--blue);
    font-size: 20px;
}

.paragraph p{
    color:gray;
    font-weight: 500;
    max-width: 750px;
}

.phone{
    max-width: 220px;
    padding: 0px;
    position: relative;
    bottom: -45px;
    right: 20px;  
}

.text-center{
    text-align: center;
}

.entity i{
    padding-top: 10px;
    font-size: 90px;
    text-align: center;
    color: var(--blue);
    padding-bottom: 20px;
}

.column{
    padding: 1px 10px 10px 10px ;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero{
    padding: 40px 0;
}

/*prima sezione*/

.bg-planning{
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.bg-planning > img{
    width: 50%;
    padding-top: 20px;
}

.col-planning {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.planning-paragraph > *{
    padding: 10px 0;
    color: white;
}

.planning-paragraph > h3 {
    
    font-size: 30px;
}

.paragraph-development{
    text-align: center;
    padding: 5px;
    
}

.paragraph-development > * {
    padding: 5px;
}

.bg-arrow{
    background-color: var(--purple);
    color: white;    
    border-radius: 50%;
    width: max-content;
    font-size: 20px;
}


.bg-arrow i{
    padding: 5px;
    font-size: 20px;
    margin: 20px 0;
    color: black;
}

.first-section{
    padding: 40px 0;
    background-color: var(--purple);
}

/*prima sezione*/

/*seconda sezione*/

.second-section{
    margin-top: 20px;
    padding: 40px 0;
}

.second-paragraph{
    text-align: center;
    padding: 20px 0px;
}

.second-paragraph > *{
    padding: 10px 0px;
}

.second-paragraph  h2{
    color: var(--purple);    
    font-size: 30px;
}

.purple{
    background-color: var(--purple);
    min-height: 200px;
}

.col-2 img{
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit:cover;
    width:180px ;
    margin-right: 0px;
    margin-left: 10px;
}

.border-img{
    padding: 10px 5px;
}

.col-10{
    color: var(--light);
}

.col-10 h3{
    padding: 10px 0;
}

.pd-partners-p{
    padding: 0 10px;
}

/*terza sezione*/
.thirth-section{
    padding: 40px 0;
}

.white{
    background-color: var(--light);
    padding: 20px;
    flex-direction: column;
}

.white > * {
    padding: 10px;
}

.thirth-section h2{
    color: var(--light);
    font-size:30px ;
    text-align: center;
    padding: 10px 0;
}

.n-benefits p, h4{
    color: var(--purple);
}

.number{    
    font-size: 50px;
    font-weight: 600;
    padding: 15px 0;
}

#button-benefits{
    color: var(--light);
    background-color: var(--purple);
    padding: 5px 40px;
    border-radius: 25px;
    font-size: 15px;
}

/*quarta sezione*/

.four-section{
    padding: 40px 0;
}

.five-paragraph h2 {
    font-size: 40px;
    padding: 10px;
    color: var(--purple);
}

.five-paragraph > p{
    padding: 30px 10px;
}

.cite-about-us{
    flex-direction: column;
    color: var(--purple);
    
}

.cite-about-us img{
    width: 200px;
    border-radius: 50%;
    
}

.cite-about-us > *{
    padding: 10px;
    
}

#button-purple{
    color: var(--light);
    background-color: var(--purple);
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 15px;
}

.cite-about-us p {
    font-weight: 700;
}

.image-center{
    max-width: 100%;
}

.borders > * {
    padding: 0px 10px 25px 10px;
}

.borders h4 {
    font-size: 25px;
    
}

.img-relative{
    position: relative;
}

.entity-marks{
    color: var(--purple);
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 60px;
}

/*quinta sezione*/

.five-section{
    padding: 40px 0;
}

.get-started{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.get-started > * {
    padding: 10px 0;
}

.title-started{
    opacity: 0.2;
}

.get-started h3{
    color: var(--light);
    font-size: 30px;
}

.get-started h2{
    color: var(--yellow);
    font-size: 70px;
}

.button-white {
    color:var(--purple);
    line-height: 40px;
    text-align: center;
    background-color: var(--light);
    border-radius: 20px;
    padding: 5px 50px;
}

.paragraph-five-section{
    text-align: center;
}

/*footer*/

footer{
    background-color: var(--dark-grey);
    color: var(--light);
}

.aside{
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items: center;
}

.aside p {
    text-align: center;
    max-width: 50%;
    padding: 20px 0;
}

.aside a {
    color: var(--purple);
    text-decoration: underline;
}

/*animazioni*/

.animation{
    animation-name: smooth;
    animation-duration: 2s;
    animation-iteration-count: linear;
}

@keyframes smooth {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.cell{
    animation-name: phone-up;
    animation-duration: 3.5s;
    animation-iteration-count: linear;
}

@keyframes phone-up{
    0%{
        
        bottom: 27px;
    }
    100%{
        
        bottom: -45px;
    }
}

.col-animation {
    animation: col-block 3s linear;
}

@keyframes col-block {
    from{
        margin-left: -50px;
    }
    to{
        margin-left: 0;
    }
}


